asgiref==3.6.0
auditlog3==1.0.1
Django==4.1.5
django-filter==22.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
ecdsa==0.18.0
importlib-metadata==6.0.0
Markdown==3.4.1
mysql-connector-python==8.0.23
mysqlclient==2.1.1
protobuf==4.21.12
pyasn1==0.4.8
PyJWT==1.7.1
python-jose==3.3.0
pytz==2022.7
rsa==4.9
six==1.16.0
sqlparse==0.4.3
zipp==3.11.0
